
*.pyc
leviosaPaperSubmission/__init__.py
*.png
*.pdf
*.db
*.bib
*.zip
*.jpg
*.tex
*.log
*.toc
*.gz
*.xml
*.blg
*.bcf
*.bbl
*.aux
leviosaPaperSubmission/static/files/20*
leviosaPaperSubmission/static/files/review_form.xlsx
leviosaPaperSubmission/static/files/InnoTJ.cls
